/* MODAL v.1.0.0 */

.modal-dialog {
    margin: 20% auto !important;
}

.modal-body img {
    width: 100% !important;
    height: auto !important;
}

.modal a:hover {
    text-decoration: none !important;
}

@media (min-width: 100px) and (max-width: 480px) {
    .modal-content {
        margin: 15px;
    }
}