/* WIZARD v.1.0.4 */

.fuelux .wizard {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0;
    background-color: #FFF;
    margin-bottom: 10px;
}

.fuelux .wizard .steps-container {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 1px solid #DDD;
    height: 48px;
    border-bottom: none;
}

.fuelux .wizard > ul.steps li:first-child,
.fuelux .wizard > .steps-container > ul.steps li:first-child {
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}

.fuelux .wizard > ul.steps.previous-disabled li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover {
    background: #999;
    color: #FFF;
    cursor: default;
}

.fuelux .wizard > ul.steps.previous-disabled li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #999;
}

.fuelux .wizard > ul.steps li,
.fuelux .wizard > .steps-container > ul.steps li {
    float: left;
    margin: 0;
    padding: 8px 20px 0 30px;
    height: 48px;
    line-height: 32px;
    position: relative;
    background: #ededed;
    color: #999999;
    font-size: 12px;
    cursor: not-allowed;
    border-bottom: none;
}

.fuelux .wizard > ul.steps li.active,
.fuelux .wizard > .steps-container > ul.steps li.active {
    line-height: 30px;
}

.fuelux .wizard > ul.steps li .chevron,
.fuelux .wizard > .steps-container > ul.steps li .chevron {
    border: 24px solid transparent;
    border-left: 14px solid #d4d4d4;
    border-right: 0;
    display: block;
    position: absolute;
    right: -15px;
    top: -5px;
    z-index: 1;
    margin-top: 5px;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.fuelux .wizard > ul.steps li .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li .chevron:before {
    border: 24px solid transparent;
    border-left: 14px solid #ededed;
    border-right: 0;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
}

.fuelux .wizard > ul.steps li.complete,
.fuelux .wizard > .steps-container > ul.steps li.complete {
    background-color: #FFF !important;
    color: #6B6B6B;
    width: 100px;
}

.fuelux .wizard > ul.steps li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover {
    background-color: #6B6B6B !important;
    color: #FFF;
    cursor: pointer;
}

.fuelux .wizard > ul.steps li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-left: 14px solid #6B6B6B;
}

.fuelux .wizard > ul.steps li.complete .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete .chevron:before {
    border-left: 14px solid #FFF;
}

.fuelux .wizard > ul.steps li.active,
.fuelux .wizard > .steps-container > ul.steps li.active {
    background-color: #999;
    color: #FFF;
    cursor: default;
    border-bottom: none;
}

.fuelux .wizard > ul.steps li.active .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
    border-left: 14px solid #999;
}

.fuelux .wizard > ul.steps li.active .badge,
.fuelux .wizard > .steps-container > ul.steps li.active .badge {
    background-color: #555;
}

.fuelux .wizard > ul.steps li .badge-success,
.fuelux .wizard > .steps-container > ul.steps li .badge-success {
    background-color: #FFF;
}

.fuelux .wizard .btn-default[disabled] {
    background-color: #EDEDED !important;
    color: #999 !important;
    border-color: #CCC !important;
}

.fuelux .wizard .btn-prev span {
    margin-right: 2px;
}

.fuelux .wizard > .actions .btn-next[disabled] {
    cursor: not-allowed;
}

.fuelux .wizard > .actions2 .btn-next[disabled] {
    cursor: not-allowed;
}

.fuelux .wizard .btn-next span {
    margin-left: 5px;
}

.fuelux .wizard[data-last]:after {
    display: none;
}

.fuelux .wizard .step-content {
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    float: left;
    width: 100%;
}

.fuelux .wizard .steps {
    margin-left: 0 !important;
}

.fuelux .wizard .table-responsive {
    margin-top: -1px;
    clear: both;
}

.fuelux .wizard > .actions.bottom {
    position: relative;
    background-color: #F9F9F9;
    padding: 0 15px 2px;
    border: 1px solid #DDD;
    text-align: right;
    width: 100%;
    top: 0px;
    right: 0px;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.step-wrapper {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.fuelux .wizard > .actions {
    background-color: #f9f9f9;
    border-left: 1px solid #d4d4d4;
    border-radius: 0 4px 0 0;
    float: right;
    line-height: 47px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 1px;
    top: 1px;
    vertical-align: middle;
    z-index: 1000;
}

.glyphicon-arrow-right:before {
    font-family: "FontAwesome";
    content: "\f0da";
}

.glyphicon-arrow-left:before {
    font-family: "FontAwesome";
    content: "\f0d9";
}

.fuelux .wizard form {
    padding: 0;
}


/* Wizard > Search */

.wizard .table-responsive {
    clear: both;
}

.wizard-filter {
    margin-bottom: 10px;
}

.wizard-filter .search input {
    margin-left: 0;
    position: relative;
}

.wizard-filter .input-select-wrapper {
    display: inline-block;
    float: none;
}


/*.wizard-filter select,*/

.wizard-filter .input-select-wrapper,
.wizard-filter input {
    max-width: 230px !important;
    width: 100%;
}

.wizard-filter .input-select-wrapper + .input-select-wrapper {
    margin-left: 10px;
}

.wizard-filter .search {
    display: inline-block;
    margin-top: 0;
}

.wizard-filter .search input {
    border: 1px solid #ccc;
    height: 30px!important;
    padding: 0 30px 0 8px;
    max-width: 230px;
    min-width: 230px;
}

.wizard-filter .search button {
    position:absolute;
    right: 0;
    top: 0;
    padding: 0;
    height: 30px;
}

.chrome .wizard-filter .search button {
    margin: 0;
}

.wizard-filter .input-select-wrapper {
    margin-bottom: 0;
    margin-right: 10px;
}

.chrome .wizard-filter .search {
    width: auto;
}

.wizard-filter .btn-reset,
.wizard-filter .btn-reset:hover {
    margin-left: -25px !important;
}

.chrome .wizard-filter .search {
    display: inline-block;
}

.wizard table .dropdown-menu > li > a {
    white-space: inherit !important;
}

@media (max-width: 515px) {
    .wizard-filter .search input {
        margin-left: 0;
        margin-right: 0;
    }
    .wizard-filter .search input,
    .wizard-filter .input-select-wrapper select {
        /*width: 100%;*/
    }
}


/* RTL */

.rtl .fuelux .wizard > ul.steps,
.rtl .fuelux .wizard > .steps-container > ul.steps {
    right: 0;
    left: auto;
    float: right;
}

.rtl .fuelux .wizard > ul.steps.previous-disabled li.complete:hover .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-right-color: #999;
}

.rtl .fuelux .wizard > ul.steps li,
.rtl .fuelux .wizard > .steps-container > ul.steps li {
    float: right;
}

.rtl .fuelux .wizard > ul.steps li .chevron,
.rtl .fuelux .wizard > .steps-container > ul.steps li .chevron {
    right: auto;
    left: -15px;
    border-right: 14px solid #d4d4d4;
    border-left: 0;
}

.rtl .fuelux .wizard > ul.steps li .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps li .chevron:before {
    right: auto;
    left: 1px;
    border-right: 14px solid #ededed;
    border-left: 0;
}

.rtl .fuelux .wizard > ul.steps li.active .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
    border-right: 14px solid #999;
    border-left: 0;
}

.rtl .fuelux .wizard > ul.steps li.complete .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps li.complete .chevron:before {
    border-right: 14px solid #FFF;
    border-left: 0;
}

.rtl .fuelux .wizard > ul.steps li.complete:hover .chevron:before,
.rtl .fuelux .wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-right: 14px solid #6B6B6B;
    border-left: none;
}

.rtl .fuelux .wizard > ul.steps li .badge,
.rtl .fuelux .wizard > .steps-container > ul.steps li .badge {
    margin-left: 8px;
}

.rtl .fuelux .wizard > .actions {
    right: auto;
    left: 0;
    float: left;
    border-left: 1px solid #d4d4d4 !important;
    border-right: 1px solid #d4d4d4;
    border-radius: 0 0 4px 4px;
}

.rtl .fuelux .wizard > .actions2 {
    right: auto;
    left: 0;
    float: left;
    border-left: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 4px 0 0 0;
}

.rtl .fuelux .wizard .btn-prev span,
.rtl .fuelux .wizard .btn-next span {
    display: none;
}

.rtl .fuelux .wizard .btn-prev:after {
    font-family: "FontAwesome";
    content: "\f0da";
    margin-left: 5px;
    float: right;
}

.rtl .fuelux .wizard .btn-next:before {
    font-family: "FontAwesome";
    content: "\f0d9";
    color: #FFF;
    margin-right: 5px;
    float: left;
}

.rtl .fuelux .wizard .btn-next span:before {
    display: none;
}

.rtl .fuelux .wizard > ul.steps li,
.rtl .fuelux .wizard > .steps-container > ul.steps li {
    padding: 8px 30px 0 20px;
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.rtl .fuelux .wizard .btn-prev:before,
.rtl .fuelux .wizard .btn-next:after {
    display: none;
}

.rtl .fuelux .wizard .footer-buttons .actions {
    text-align: right;
}

.rtl .fuelux .wizard .footer-buttons .actions2 {
    text-align: right;
}

.rtl .fuelux .wizard > .actions.bottom {
    text-align: left;
}

.rtl .wizard-filter .input-select-wrapper {
    margin-left: 10px;
    margin-right: 0;
}

.rtl .wizard-filter .input-select-wrapper + .input-select-wrapper {
    margin-right: 10px;
    margin-left: 0;
}

.rtl .wizard-filter .btn-reset,
.rtl .wizard-filter .btn-reset:hover {
    margin-right: -28px !important;
}

.rtl .wizard-filter .search {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    width: 228px !important;
}

.rtl .wizard-filter .search button {
    left: 0;
    right: auto!important;
    margin: 0!important;
    height: 30px;
    padding: 0;
    top: 0;
}

.rtl .wizard-filter .search input {
    padding: 0 8px 0 30px !important;    
    position: relative;
}

.rtl .complete .btn-next:before {
    display: none;
}

@media (max-width: 532px) {
    .rtl .wizard-filter .search {
        display: block !important;
        margin: 10px 0 10px 10px;
        padding-top: 0;
        width: 100%;
    }
    .rtl .wizard-filter .search input {
        margin-right: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .footer-buttons {
        position: fixed;
        bottom: 50px;
        background: #FFF;
        padding: 10px 0;
        border-top: 1px solid #CCC;
        left: 0;
    }
}
