/* FORM v.1.0.10 */

.form-horizontal {
    margin: 14px 0;
}

.form-horizontal label, .button-label {
    margin: 0 10px 15px 0;
    padding: 5px 20px;
    font-size: 12px;
    text-align: left;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.form-horizontal label {
    border-bottom: 2px solid #EEE;
}

.form-horizontal input {
    height: 30px;
    font-size: 12px;
}

.form-horizontal textarea {
    font-size: 12px;
}


.form-horizontal input[type="checkbox"], .form-horizontal input[type="radio"] {
    height: 18px;
    margin-bottom: 0;
}

.form-horizontal .icheckbox_minimal-grey .icheck-input {
    margin-bottom: 0;
}

.form-horizontal input, .form-horizontal textarea, .form-horizontal .chosen-choices {
    display: inline-block;
    border: 1px solid #CCC !important;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 30%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form-label {
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
    font-size: 12px !important;
    min-height: 30px;
    width: 200px;
    margin-right: 10px;
}

.form-label:after {
    content: ":";
    position: absolute;
    right: 0;
    top: 4px;
    color: #BBB;
    font-weight: 300;
}

.form-input {
    min-height: 30px;
    width: 60%;
    padding: 7px 0;
    display: inline-block;
    font-size: 12px;
}

.form-horizontal label, .row:nth-of-type(even) {
    background-color: #F9F9F9;
    border-left: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
}

.row:nth-of-type(odd) {
    background-color: #FFF;
    border-left: 2px solid #FFF;
}


/* Time picker */

.bootstrap-timepicker-widget {
    width: 275px;
}

.bootstrap-timepicker-widget table input {
    min-width: inherit;
}


/* Multi Select Input */

.form-horizontal .chosen-container {
    width: 30% !important;
    margin-bottom: 15px;
}

.form-horizontal .input-group {
    position: relative;
    width: 30%;
    margin: 0 0 15px;
    display: inline-block;
}

.form-horizontal .textarea label, .form-horizontal .file label {
    vertical-align: top;
}

.form-horizontal textarea {
    resize: none;
}

.form-horizontal .input {
    clear: both;
    font-size: 0;
}


/* File Input and File Input with Preview */

.form-horizontal .file {
    width: 100%;
    clear: both;
}

.form-horizontal .file label {
    display: inline-block;
}

.fileinput.input-group {
    display: inline-block !important;
}

.fileinput {
    position: relative;
    margin-bottom: 15px !important;
}

.fileinput .form-control {
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    width: 100%;
    margin-right: -1px;
    margin-top: -1px !important;
    z-index: 0 !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.fileinput .btn-file {
    position: absolute !important;
    right: -1px;
    top: -1px;
    height: 34px !important;
    width: 54px !important;
    padding: 8px;
    cursor: pointer;
    -webkit-border-top-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.fileinput .btn-file-cancel {
    position: absolute !important;
    right: 53px;
    top: -1px;
    padding: 8px 14px 9px;
    border-radius: 0;
    border-right: 0 !important;
    height: 34px !important;
    width: 52px !important;
    right: 54px !important;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 102px 0 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fileinput .btn-file .fileinput-new, .fileinput .btn-file .fileinput-new:before {
    cursor: pointer !important;
}

.file-input-text {
    clear: both;
}

.file-input-text p, .file-input-buttons p, .input-text p {
    clear: both;
    padding: 8px 0 0;
    font-style: italic;
    font-size: 11px !important;
    color: #777;
}

.fileinput-preview {
    width: 30%;
    clear: both;
}

.fileinput-preview .btn-file {
    position: relative !important;
    width: inherit !important;
    height: 30px !important;
}

.fileinput-preview .btn-file a {
    cursor: pointer !important;
    height: 34px;
}

.fileinput-preview #removeBtn a {
    margin-top: -2px;
    line-height: 1.4em;
}

.fileinput-preview .btn-default {
    line-height: 1em;
}


/* Date Time Input */

.form-horizontal .datetime select {
    width: 60px;
    margin-right: 10px;
}

.form-horizontal .input-group-addon {
    position: absolute;
    right: 0;
    line-height: 0;
    cursor: pointer;
    font-size: 15px;
    width: 52px;
    height: 30px;
}

.form-horizontal .input-group-addon span {
    width: 15px;
}

.datepicker th {
    text-align: center !important;
}

.datepicker table tr td.active {
    background: none !important;
    background-color: #6B6B6B !important;
}

/* Form Buttons */

.form-buttons, .footer-buttons {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    clear: both !important;
}


/* Form Error */

.image-error {
    clear: both;
    display: block;
}

.image-error .error-message {
    margin: 0;
    display: block;
}

.error-message {
    display: inline-block;
    font-size: 11px;
    padding: 7px 0;
    color: #CC5C5C;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 10px;
}

.form-error, .error input, .error textarea, .error .input-select-wrapper {
    border-color: #CC5C5C !important;
}

.string {
    clear: both;
    display: block;
}

.required label, .required input {
    display: inline-block;
}

.required label:before {
    content: "*";
    font-size: 14px;
    color: #CC5C5C;
    margin-left: -9px;
    margin-right: 3px;
}

input[readonly] {
    color: #999;
    cursor: not-allowed;
}

/* View with Sections and tables */

.green {
    color: green;
    font-size: 10px;
}

.red {
    color: red;
    font-size: 9px;
}

.grey {
    color: #888;
    font-size: 9px;
}

.section-header .icheck-input {
    margin: 0 10px -3px 0 !important;
}

.form-control {
    padding: 5px 6px 3px;
    font-size: 12px;
    background: #FFF;
    font-weight: normal;
}

.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

select {
    background: none;
    position: relative;
    padding: 5px 25px 5px 10px !important;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    width: 100% !important;
    height: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* This is to remove the arrow of select element in IE */

select::-ms-expand {
    display: none;
}


/* End of Select for IE */


/* -------------------- */

.select {
    position: relative;
    display: block;
    width: 100%;
}

.input-select-wrapper:after, .font-size-select:after {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid;
    color: #555;
    content: "";
    height: 0;
    margin-right: 14px;
    pointer-events: none;
    position: absolute;
    width: 0;
    right: -5px;
    top: 48%;
}

.input-select-wrapper {
    position: relative;
    display: block;
    width: 30%;
    height: 30px;
    display: inline-block;
    margin-bottom: 15px;
}

optgroup {
    padding: 3px;
}

option {
    padding: 3px;
}

.form-horizontal option {
    padding: 5px 10px;
}

.form-horizontal input[disabled] {
    color: #AAA;
    background: #EFEFEF;
}

.form-horizontal input[disabled="disabled"] {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    color: #6B6B6B;
}

.form-horizontal .input-inline.input-prefix {
    width: 100px !important;
}

.form-horizontal .input-inline {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 0;
}

.form-horizontal .input-inline-btn {
    position: relative;
    width: 30%;
    display: inline-block;
}

.form-horizontal .input-inline-btn .input-inline {
    width: 100%;
    padding-right: 110px;
}

.form-horizontal .input-inline-btn .error-message {
    position: absolute;
    left: 0;
    margin-left: 270px;
    width: 100%;
}

.form-horizontal .input-inline-btn .tooltip {
    width: 80px;
}

.form-horizontal .input-inline-btn .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 29px;
}

.form-horizontal .input-inline-btn .btn[disabled="disabled"] {
    background-color: #EFEFEF !important;
    color: #AAA !important;
    opacity: 1 !important;
    border-left: 1px solid #CCC !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.form-horizontal .input-inline-btn .icon-view-url[disabled="disabled"], .form-horizontal .input-inline-btn .icon-clipboard[disabled="disabled"] {
    border-left: 1px solid #CCC !important;
    height: 28px !important;
    top: 1px !important;
}

.icon-view-url {
    right: 1px !important;
}

.icon-clipboard {
    right: 50px !important;
}

.form-horizontal .btn-toggle {
    position: relative;
    color: #FFF;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 4px 0px #84261a;
    -moz-box-shadow: 0px 4px 0px #84261a;
    box-shadow: 0px 4px 0px #84261a;
}

.form-horizontal .btn-toggle:active {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
}

.form-horizontal .btn[disabled="disabled"] {
    opacity: 0.3;
}

.form-horizontal .icon-big i {
    font-size: 16px;
}

.row-reset {
    background-color: transparent !important;
    border: 0 !important;
}

@media (min-width: 100px) and (max-width: 480px) {
    /* FORM */
    .section .form-horizontal {
        padding: 5px 12px;
    }

    .form-horizontal label {
        width: 100%;
        text-align: left !important;
        margin: 10px 0;
    }

    .form-horizontal input[type="string"], .form-horizontal input[type="text"], .form-horizontal input[type="password"], .form-horizontal input[type="number"], .form-horizontal select, .form-horizontal textarea, .form-horizontal .file {
        width: 100% !important;
    }

    .form-horizontal .file label {
        display: block;
    }

    .form-horizontal .fileinput, .form-horizontal .input-group {
        width: 100% !important;
    }

    .form-buttons {
        margin: 30px 0;
        width: 100%;
    }

    .form-horizontal label {
        padding: 5px 8px;
    }

    .form-label, .form-input {
        width: 100%;
        border-right: 0;
        padding: 0 20px;
    }

    .form-label:after {
        display: none;
    }

    .form-input {
        width: 100% !important;
    }

    .form-horizontal .button-label {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form-horizontal .chosen-container {
        width: 100% !important;
    }

    .form-horizontal .button-label {
        display: none;
    }
}

@media (min-width: 485px) and (max-width: 1055px) {
    .input-select-wrapper {
        width: 50%;
    }

    .advanced-search .input-selection-inline, .advanced-search .input-selection, .form-horizontal .input-inline-btn .input-inline {
        width: 100% !important;
    }

    .form-horizontal input[type="string"], .form-horizontal input[type="number"], .form-horizontal textarea, .form-horizontal input[disabled], .form-horizontal .chosen-container, .form-horizontal .input-group, .fileinput, .form-horizontal .input-inline-btn {
        width: 50% !important;
    }
}

@media (max-width: 545px) {
    .form-label, .form-input {
        width: 100%;
        border-right: 0;
        padding: 0 20px;
    }

    .form-label:after {
        display: none;
    }

    .form-input {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    /* FORM */
    .form-horizontal {
        margin: 0 auto;
    }

    .form-horizontal label {
        text-align: left;
        margin: 0 10px 10px 0;
    }

    .form-horizontal input, .form-horizontal select, .form-horizontal textarea, .form-horizontal .fileinput, .form-horizontal .input-group {
        width: 60%;
    }

    .form-input {
        width: 40%;
    }

    .form-buttons {
        width: 100%;
        clear: both;
    }
}

@media (max-width: 937px) {
    .form-horizontal label {
        width: 100%;
    }

    .button-label {
        display: none;
    }
}

@media (min-width: 1150px) {
    .form-horizontal .input-inline {
        width: 260px !important;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .form-horizontal .input-inline-btn {
        position: relative;
        width: 260px !important;
        display: inline-block;
    }
}

@media (max-width: 1150px) {
    .form-horizontal .input-inline {
        margin-bottom: 10px;
    }

    .form-horizontal .input-inline-btn .input-inline {
        clear: both;
        display: block;
    }

    .form-horizontal .input-inline-btn .error-message {
        position: relative;
        left: 0;
        margin: 0;
    }
}



/* RTL v.1.0.2 */
.rtl .form-horizontal .input-inline-btn .input-inline {
    padding-left: 110px;
    padding-right: 10px !important;
}

.rtl .icon-view-url {
    left: 1px !important;
    right: auto !important;
}

.rtl .icon-clipboard {
    left: 50px !important;
    right: auto !important;
}

.rtl .form-horizontal .input-inline {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .form-horizontal .input-inline-btn .icon-view-url[disabled="disabled"], .rtl .form-horizontal .input-inline-btn .icon-clipboard[disabled="disabled"] {
    border-right: 1px solid #CCC !important;
    border-left: 0 !important;
}

.rtl .form-horizontal .input-inline-btn .error-message {
    left: auto !important;
    right: 0;
    margin-right: 270px;
    margin-left: 0;
    width: 102%;
}

.rtl .input-select-wrapper {
    display: inline-block;
}

.rtl .input-select-wrapper:after {
    left: 8px;
    right: auto;
}

.rtl select {
    padding: 4px 5px 5px 25px !important;
}

.rtl .form-horizontal .input-group-addon {
    left: 0;
    right: auto !important;
    -webkit-border-top-right-radius: 0px !important;
    -moz-border-top-right-radius: 0px !important;
    -ms-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-bottom-right-radius: 0px !important;
    -ms-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.rtl .fileinput .btn-file-cancel {
    left: 53px;
    right: auto !important;
}

.rtl .section-header .icheck-input {
    margin: 0 0 -3px 10px !important;
}
