<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a ui-sref="dfaMonitoring.home">
            <i class="fa fa-home"></i>
        </a>
    </li>         
    <li><a ui-sref="dfaMonitoring.home.translation"> {{getTranslatedKey('TRANSLATION')}} </a></li>
    <li ng-show="isModify" class="breadcrumb-active"> {{getTranslatedKey('MODIFY')}}</li>
    <li ng-show="!isModify" class="breadcrumb-active"> {{getTranslatedKey('ADD')}}</li>
</ul>
<div class="page-header">
    <h2>{{getTranslatedKey('TRANSLATION')}}</h2>
    <div class="toolbar">
        <a ui-sref="dfaMonitoring.home.translation" class="btn btn-xs btn-default" tooltip="{{getTranslatedKey('BACK')}}" tooltip-placement="bottom" ><i class="fa kd-back"></i></a>
    </div>
</div>
<div class="wrapper ng-scope">
    <div class="panel">       
        <div ng-show="showSucessMsg" role="alert" class="alert alert-success">
            <a class="close" ng-click="showSucessMsg=false">×</a>{{getTranslatedKey('SAVE_SUCCESS_MSG')}}
        </div>
               
        <div class="panel-body">
            <form class="form-horizontal" name="addModifyForm" method="post" ng-submit="addModifyForm.$valid && saveTranslation()" novalidate>
                <div class="input string required">
                    <label for="code">{{getTranslatedKey('CODE')}}</label>
                    <input type="text" ng-maxlength="128" name="code" ng-model="translation.code" ng-disabled="isModify" required>
                    <div class="error-message" ng-show="addModifyForm.$submitted || addModifyForm.code.$touched">
                        <span ng-show="addModifyForm.code.$error.required">{{getTranslatedKey('CODE_REQ')}}</span>
                        <span ng-show="addModifyForm.code.$error.maxlength">{{getTranslatedKey('ERR_MSG_128_CHAR')}}</span>
                    </div>
                </div>

                <div class="input string" ng-repeat="language in languageList">
                    <label for="language.name">{{language.name}}</label>
                    <textarea name="language.name" ng-model="translation[language.code]" ></textarea>
                    <div class="error-message" ng-show="addModifyForm.$submitted || addModifyForm.language.name.$touched">              
                    </div>
                </div>
                <div class="form-buttons">
                    <div class="button-label"></div>
                    <button class="btn btn-default btn-save" type="submit" ng-click="createAnother = false;"><i class="fa fa-check"></i> {{getTranslatedKey('SAVE')}}</button>
                    <button class="btn btn-outline" type="submit"  ng-if="!isModify">{{getTranslatedKey('SAVE_ADD_ANOTHER')}}</button>
                    <a ui-sref="dfaMonitoring.home.translation" class="btn btn-outline btn-cancel"><i class="fa fa-close"></i> {{getTranslatedKey('CANCEL')}}</a>
                </div>
            </form>
        </div>
    </div>
</div>