<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a ui-sref="dfaMonitoring.home">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li>
        <a ui-sref="dfaMonitoring.home.translation">
         {{getTranslatedKey('TRANSLATION')}}
        </a>
    </li>
    <li class="breadcrumb-active">{{getTranslatedKey('IMPRT_EXRT')}}</li>
</ul>
<div class="page-header">
    <h2>{{getTranslatedKey('IMPRT_EXRT')}}</h2>
    <div class="toolbar">
        <a ui-sref="dfaMonitoring.home.translation" class="btn btn-xs btn-default" tooltip="{{getTranslatedKey('BACK')}}" tooltip-placement="bottom"><i class="fa kd-back"></i></a>
    </div>
</div>
<div class="wrapper ng-scope">
    <div class="panel">
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-if="showDataImportLog == true" style="margin: auto">
                <a class="close" ng-click="hideDataLog()">×</a>
                  {{getTranslatedKey('DATA_IMPORT_SUCCESS')}}
            </div>
                <div class="alert alert-success" role="alert" ng-show="exportUrl" style="margin: auto">
            <a class="close" ng-click="exportUrl = ''">×</a>
                    {{getTranslatedKey('CLICK')}} <a target="_blank" href="{{exportUrl}}">  {{getTranslatedKey('HERE')}}</a>   {{getTranslatedKey('DOWNLOAD_FILE')}}
        </div>
            <h6 class="section-header" style="margin: auto;">  {{getTranslatedKey('EXPORT')}}</h6>
            <div class="form-horizontal">
                <p>
                 {{getTranslatedKey('TRANS_EXPORT_TXT')}} 
                </p>

                <button class="btn btn-default" ng-click="submitExportDetails()">
                    <i ng-class="{'fa fa-spin fa-spinner': showExportLoader}"></i>
                    <i ng-class="{'kd-download': !showExportLoader}"></i> {{getTranslatedKey('EXPORT')}}
                </button>
            </div>
        </div>
    
    </div>
    <h6 class="section-header">{{getTranslatedKey('IMPORT')}}</h6>
    <div class="form-horizontal">
        <p>
             {{getTranslatedKey('TRANS_IMPORT_TXT')}} 
                  
        </p>
        <ng-file-uploader accept-ext="'.xls,.xlsx'" file-data="generateFileData" on-upload-start="hideDataLog" on-file-success="onFileSuccess" on-file-fail="onFileFail" loading-msg="getTranslatedKey('IMPORTING_DATA')" button-text="getTranslatedKey('IMPORT')"  placeholder-text="getTranslatedKey('UPLOAD_FILE')">
        </ng-file-uploader>

    </div>
</div>

