<div class="tree-view-box">

    <div class="searchbox">
        <input type="text" class="search-dropdown" placeholder="Search" ng-model="search.searchText"></input>
        <span class="input-group-btn">
            <button class="btn btn-xs btn-reset" type="button" ng-click="search.searchText = ''"><i class="fa fa-close"></i></button>
        </span>
    </div>

    <div class="tree-view-container">

        <div class="tree-view-list">
            <ng-tree-view class="tree-view" ng-model="selectedList" selected-parent-nodes="selectedParentNodes" tree-list-model="dropdownList" tree-view-options="treeViewOptions" search-text="search.searchText" search-count="search.searchCount">
            </ng-tree-view>
        </div>

        <div class="tree-view-menubar">
            <span class="selected-count" ng-hide="displayOptions.showSelected == false">Selected: {{selectedList.length}}</span>
            <span class="list-count">{{search.searchCount}} / {{dropdownList.length}}</span>
            <center ng-hide="displayOptions.showReset == false"><a class="btn btn-default btn-xs" ng-click="selectedList = [];">{{displayOptions.resetText}}</a></center>
        </div>

    </div>
</div>