
<div class="pane-wrapper" style="padding-top: 20px; margin: auto; width: 1024px;">
    <!--<h6 class="section-header">{{getTranslatedKey('SET_PASSWORD')}}</h6>-->
    <form class="form-horizontal" method="post" name="confirmPasswordForm" ng-submit="confirmPasswordForm.$valid &&savePassword(password)" novalidate>
        <div class="input string required">
            <label>{{getTranslatedKey('PASSWORD')}}</label>
            <input type="password" name="password" ng-model="password" ng-minlength="8" ng-pattern="passwordPattern" required>
            <div class="error-message" ng-show="confirmPasswordForm.$submitted || confirmPasswordForm.password.$touched">
                <span ng-show="confirmPasswordForm.password.$error.required">{{getTranslatedKey('PASSWORD_MATCH_ERR')}}</span>
                <span ng-show="confirmPasswordForm.password.$error.pattern">{{getTranslatedKey('PASSWORD_INVALID')}}</span>
                 <span ng-show="confirmPasswordForm.password.$error.minlength">{{getTranslatedKey('PASSWORD_MINLENGTH')}}</span>
            </div>

        </div>
        <div class="input string required">
            <label>{{getTranslatedKey('CONFIRM_PASSWORD')}}</label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" required>
            <div class="error-message" ng-show="confirmPasswordForm.$submitted || confirmPasswordForm.confirmPassword.$touched">
                <span style="width: 100%" ng-show="confirmPassword != password">{{getTranslatedKey('PASSWORD_MATCH_ERR')}}</span>
                <span ng-show="confirmPasswordForm.confirmPassword.$error.required">{{getTranslatedKey('PASSWORD_REQ')}}</span>
            </div>
        </div>
        <div class="form-buttons">
            <div class="button-label"></div>
            <button class="btn btn-default btn-save" type="submit"><i class="fa fa-check"></i> {{getTranslatedKey('SAVE')}}</button>
            <a class="btn btn-outline" ui-sref="dfaMonitoring"><i class="fa fa-home"></i> {{getTranslatedKey('HOME')}}</a>
        </div>
    </form>
</div>