
<div class="pane-wrapper" style="padding-top: 20px; margin: auto; width: 1024px;">    
    <form class="form-horizontal" method="post" name="forgotPasswordForm" ng-submit="forgotPasswordForm.$valid && forgotPassword()" novalidate>
        <div class="input string required">
            <label>{{getTranslatedKey('EMAIL')}}</label>
            <input name="userName" ng-model="userName" required>
            <div class="error-message" ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.userName.$touched">
                <span ng-show="forgotPasswordForm.userName.$error.required">{{getTranslatedKey('EMAIL_REQ')}}</span>             
            </div>

        </div>
        <div class="form-buttons">
            <div class="button-label"></div>
            <button class="btn btn-default btn-save" type="submit"><i class="fa fa-check"></i> {{getTranslatedKey('SUBMIT')}}</button>
            <a class="btn btn-outline" ui-sref="dfaMonitoring"><i class="fa fa-home"></i> {{getTranslatedKey('HOME')}}</a>
        </div>
    </form>
</div>