<nav class="navbar navbar-fixed-top">
    <div class="navbar-left">
        <a ui-sref="dfamonitoring">
            <span class="brand-logo">
                <i class="kd-openemis ltl-view" ng-if="logoExists == false"></i>
                <img style="max-height: 38px;" src="img/logo.png" ng-if="logoExists == true">
                <h1>{{$root.appTitle}}</h1>
                <!--<i class="kd-openemis rtl-view"></i>-->
            </span>
        </a>
    </div>
    <div class="navbar-right" ng-if="$root.currentUser">
        <div class="header-navigation">

            <div class="username">
                <span>{{$root.currentUser.userName}}</span>
                <a class="btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="User Role: Principal"><i class="kd-role"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" ui-sref="dfamonitoring.home">
                    <i class="fa fa-home"></i>
                </a>
            </div>

            <div class="btn-group" uib-dropdown>

                <button class="btn" uib-dropdown-toggle href="#">
                    <i class="fa kd-ellipsis"></i>
                </button>

                <ul aria-labelledby="dropdownMenu" role="menu" class="dropdown-menu more-menu" uib-dropdown-menu>
                    <div class="dropdown-arrow"><i class="fa fa-caret-up"></i></div>
                    <div class="more-menu-item">
                        <li><a ui-sref="dfamonitoring.home.aboutUs"><i class="fa fa-info-circle"></i><span> {{getTranslatedKey('ABOUT')}}</span></a></li>
                        <li><a ui-sref="dfamonitoring.home.preferences({userId: $root.currentUser.id})"><i class="fa fa-cog"></i><span> {{getTranslatedKey('PREFERENCES')}}</span></a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-power-off"></i><span> {{getTranslatedKey('LOGOUT')}}</span></a></li>
                    </div>
                </ul>

            </div>
        </div>
    </div>
</nav>