<div class="pane-wrapper">
    <div class="content-wrapper">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <div class="error-wrapper">
                        <div class="error-icon">
                            <i class="fa kd-403-error fa-5x"></i>
                        </div>
                        <div class="error-text">
                            <h1>{{getTranslatedKey('ERR_403')}}</h1>
                            <h5>{{getTranslatedKey('ERR_UNAUTHORIZED')}}</h5>
                        </div>
                        <div class="error-buttons">
                            <a class="btn btn-default" ui-sref="dataAdmin"><i class="fa fa-chevron-left"></i> {{getTranslatedKey('BACK')}}</a>
                            <a class="btn btn-default" ui-sref="dataAdmin"><i class="fa fa-home"></i> {{getTranslatedKey('HOME')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>