<ul class="breadcrumb panel-breadcrumb">
    <li>
        <a>
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li>Plans</li>
    <li class="breadcrumb-active">United Nations Development Assistance Framework 2017-2020</li>
</ul>
<div class="page-header">
    <h2>Plans - United Nations Development Assistance Framework 2017-2020</h2>
    <div class="toolbar toolbar-search">

        <a class="btn btn-xs btn-default" ng-click="addModifyPlanning(false)" tooltip-placement="bottom" tooltip="Add"><i class="fa kd-add"></i></a>

        <a class="btn btn-xs btn-default" ng-click="addData()" tooltip-placement="bottom" tooltip="Add Data"><i class="fa fa-circle"></i></a>

        <a class="btn btn-xs btn-default" ng-click="addModifyPlanning(true)" tooltip-placement="bottom" tooltip="Edit"><i class="fa fa-pencil"></i></a>

    </div>

</div>


<div class="wrapper" style="height: calc(100% - 83px);">
    <div class="panel">
        <div class="panel-body">
            <ng-include src="WEBROOT_URL + 'js/app/components/planning/views/list.html'"></ng-include>

            <!--<bg-splitter orientation="horizontal" lang-dir="$root.langDir" show-pane2="$root.showTabView">
                <bg-pane class="left-pane">
                    <div class="content-wrapper" style="height: calc(100% - 10px)">
                        <ng-include src="WEBROOT_URL + 'js/app/components/planning/views/list.html'"></ng-include>
                    </div>
                </bg-pane>
                <bg-pane class="pane-container">
                    <div class="content-wrapper" ui-view="tabView">
                    </div>
                </bg-pane>
            </bg-splitter>-->
        </div>
    </div>
</div>